<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{tittle}}</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default"  role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">拍卖网站</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="/index/">主页</a></li>
						<li><a href="/order/list/">个人订单</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								我的拍品
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/auction/manage/">拍品管理</a></li>
								<li><a href="/order/deliver/">拍品发货</a></li>
							</ul>
						</li>
						<li><a href="/auction/reserve/">我的预约</a></li>
						<li><a href="/user/service/">联系客服</a></li>
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								个人信息
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/user/info/">我的资料</a></li>
								<li><a href="/user/site/">收货地址</a></li>
								<li class="active"><a href="/user/history/">浏览记录</a></li>
								<li><a href="/user/logout/">退出登录</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div style="height: 10px;width: 100%;"></div>

		<div class="container">
			<div class="row">
				<h3>浏览记录</h3>
			</div>
			<div style="height: 10px;width: 100%;"></div>

			<div class="row">
				<table class="table">
					<thead>
						<tr class="danger">
							<th>
								商品名称
							</th>
							<th>
								商品简介
							</th>
							<th>
								起拍价
							</th>
							<th>
								拍卖时间
							</th>
							<th>

							</th>
						</tr>
					</thead>
					<tbody>
						{% for each in view_list %}
						<tr>
							<td><a href="/auction/{{ each.id }}/">{{ each.product.product_name }}</td>
							<td><a href="/auction/{{ each.id }}/">
									{{ each.product.product_abstract }}
							</a></td>
							<td><span class="prize">￥{{ each.product.product_price }}</span></td>
							<td>{{ each.auction_date }}</td>
							<td>
								<a href="/auction/{{ each.id }}/"><button class="btn-primary" id="detail" name="/auction/{{ each.auction_id }}/">前往拍卖</button></a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>