<form method="post">
	{% csrf_token %}
	<input type="text" name="username" value="{{ username }}" class="name_input" placeholder="请输入用户名">
	<div class="user_error">输入错误</div>
	<input type="password" name="pwd" class="pass_input" placeholder="请输入密码">
	<div class="pwd_error">输入错误</div>
	<div class="more_input clearfix">
		<input type="checkbox" name="remember" {{ checked }}>
		<label>记住用户名</label>
		<a href="#">忘记密码</a>
	</div>
	<input type="submit" name="" value="登录" class="input_submit">
	<div class="login_title clearfix">
		<a href="/user/register">立即注册</a>
	</div>
</form>
