<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{tittle}}</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
	</script>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
							<a class="navbar-brand" href="#">拍卖网站</a>
						</div>
						<div>
							<ul class="nav navbar-nav">
								<li><a href="/index/">主页</a></li>
								<li><a href="/order/list/">个人订单</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										我的拍品
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="/auction/manage/">拍品管理</a></li>
										<li><a href="/order/deliver/">拍品发货</a></li>
									</ul>
								</li>
								<li><a href="/auction/reserve/">我的预约</a></li>
								<li class="active"><a href="/user/service/">联系客服</a></li>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										个人信息
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu">
										<li><a href="/user/info/">我的资料</a></li>
										<li><a href="/user/site/">收货地址</a></li>
										<li><a href="/user/history/">浏览记录</a></li>
										<li><a href="/user/logout/">退出登录</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
			</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-md-push-2" style="height: 700px;background-color: beige;margin-top: -20px;" >
					<div class="row" style="height: 15px;"></div>
					<div class="input-group row">
						<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
						<input type="text" class="form-control col-md-12" placeholder="点击搜索">
					</div>
					<div class="row" style="height: 15px;"></div>
					<div class="row">
						<div class="col-md-12" style="height: 39px;">
							<button type="button" class="btn " style="font-size: 18px;margin-left: -15px;background-color: darkgrey">
							  <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系统通知&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</button>
						</div>
						<div class="col-md-12" style="height: 39px;">
							<button type="button" class="btn " style="font-size: 18px;margin-left: -15px;background-color: azure;">
							  <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</button>
						</div>
						<div class="col-md-12" style="height: 39px;">
							<button type="button" class="btn " style="font-size: 18px;margin-left: -15px;background-color: azure;">
							  <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-md-push-2" style="background-color: aliceblue;margin-top: -20px;height: 700px;">
					<div class="row" style="height: 15px;"></div>
					<div class="row">
						<div class="col-md-1" style="margin-top: 5px;">
							<img src="https://img0.baidu.com/it/u=2951215240,2967983432&fm=253&fmt=auto&app=138&f=JPEG?w=750&h=500"
								class="img-circle" alt="Cinque Terre" width="60" height="50">
						</div>
						<div class="col-md-10 col-md-push-1" style="margin-left: -23px;margin-top: +10px;"><input readonly value="你好!欢迎来到拍卖网站。"style="width: 160px; height: 40px;font-family: Arial, sans-serif;font-weight: bold;"/></div>
					</div>
					<div class="row" style="height: 400px;"></div>
					<div class="row">
						<textarea class="col-md-12" rows="12" placeholder="请输入聊天信息"
							id="product_abstract"></textarea>
							<button class="btn-primary btn-lg" style="position: absolute; bottom: 0; right: 0;">确认发送</button>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>