{% extends 'base.html' %}
{% block main %}
<nav class="navbar navbar-default"  role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">拍卖网站</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><a href="/index/">主页</a></li>
				<li class="active"><a href="/order/list/">个人订单</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						我的拍品
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/auction/manage/">拍品管理</a></li>
						<li><a href="/order/deliver/">拍品发货</a></li>
					</ul>
				</li>
				<li><a href="/auction/reverse/">我的预约</a></li>
				<li><a href="/user/service/">联系客服</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						个人信息
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/user/info/">我的资料</a></li>
						<li><a href="/user/site/">收货地址</a></li>
						<li><a href="/user/history/">浏览记录</a></li>
						<li><a href="/user/logout/">退出登录</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
		<div style="height: 10px;"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 input-group">
					<input type="text" class="form-control" placeholder="搜索订单">
					<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				</div>
			</div>
			<div style="height: 10px;"></div>
			<div class="row">
				<table class="table">
					<thead>
						<tr class="danger">
							<th>
								商品名称
							</th>
							<th>
								支付状态
							</th>
							<th>
								成交价格
							</th>
							<th>
								收货地址
							</th>
							<th>
								交易状态
							</th>
							<th>
								卖家
							</th>
						</tr>
					</thead>
					<tbody>
						{% for each in orders %}
							<tr  colspan="6">
								<td>订单号：{{each.order_id}}</td>
							</tr>
						<tr>
							<td>{{each.auction.product.product_name}}</td>
							{% if each.order_status == 0 %}
							<td><a href="/order/pay/">点击支付</a></td>
							{% else%}
							<td>已支付</td>
							{% endif %}
							<td>{{each.total_price}}</td>
							<td>{{each.order_user.user_address}}</td>
							{% if each.order_status == 2 %}
							<td>已发货</td>
							{% elif each.order_status == 3 %}
							<td>已结束</td>
							{% else %}
							<td>未发货</td>
							{% endif %}
							<td>{{each.auction.auction_seller.user_name}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>	
{% endblock main %}