{% extends 'base.html' %}
{% block style %} 
<style>
	.left-column {
		background-image: url("/static/login/QQ图片20230610164243.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}
			.container1 {
				width: 100%;
				height: 90vh;
			}

			.left-column {
				width: 30%;
				height: 100%;
				background-color: #aaffff;
				float: left;
			}

			.right-column {
				width: 70%;
				height: 100%;
				background-color: white;
				float: left;
			}
</style>
{% endblock style %}
{% block script %} 
	<script type="text/javascript">
	$(document).ready(function(){
	  $("div#container1").hide();
	  $("#show").click(function(){
	    $("div#container2").hide();
		$("#show").hide();
		$("div#container1").show();
	    });
		$("#hide").click(function(){
		  $("div#container2").show();
		  $("#show").show();
		  $("div#container1").hide();
		  });
	});
	</script>
{% endblock script %}
{% block main %}
<div class="container1">
			<nav class="navbar navbar-default"  role="navigation" >
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">拍卖网站</a>
					</div>
					<div>
						<ul class="nav navbar-nav">
							<li><a href="/index/">主页</a></li>
							<li><a href="/order/list/">个人订单</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									我的拍品
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/auction/manage/">拍品管理</a></li>
									<li><a href="/order/deliver/">拍品发货</a></li>
								</ul>
							</li>
							<li><a href="/auction/reverse/">我的预约</a></li>
							<li><a href="/user/service/">联系客服</a></li>
							<li class="dropdown active">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									个人信息
									<b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/user/info/">我的资料</a></li>
									<li class="active"><a href="/user/site/">收货地址</a></li>
									<li><a href="/user/history/">浏览记录</a></li>
									<li><a href="/user/logout/">退出登录</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>
			<div class="left-column" style="margin-top: -20px;">
				<div class="row">
					<div class="col-md-5 col-md-push-7">
						<a href="/user/info/"><button type="button" class="btn-link btn-lg"><p>个人信息</p></button></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 col-md-push-7">
						<a href="/user/site/"><button type="button" class="btn-link btn-lg">
								<p class="text-success">收货地址</p>
							</button></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 col-md-push-7">
						<a href="/user/history/"><button type="button" class="btn-link btn-lg"><p>浏览记录</p></button></a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5 col-md-push-7">
						<a href="/user/logout/"><button type="button" class="btn-link btn-lg"><p>退出登录</p></button></a>
					</div>
				</div>
			</div>
			<div class="right-column container">
				<div id="container2">
					<div class="row">
						<p class="lead" id="reinfo">&nbsp;&nbsp;&nbsp;&nbsp;您当前的收货信息</p>
					</div>
					<div class="row">
						<label for="add" class="col-md-2 control-label col-md-push-1 ">
							<p class="text-left">
							<h4>收货地址:</h4>
							</p>
						</label>
						<div class="col-md-9 col-md-push-1">
							<p id="add">
							<h4>{{user.user_address}}</h4>
							</p>
						</div>
					</div>
					<div style="height: 20px; width: 100%;"></div>
					<div class="row">
						<label for="r" class="col-md-2 control-label col-md-push-1 ">
							<p class="text-left">
							<h4>收货人:</h4>
							</p>
						</label>
						<div class="col-md-9 col-md-push-1">
							<p id="r">
							<h4>{{ user.user_rman }}</h4>
							</p>
						</div>
					</div>
					<div style="height: 20px; width: 100%;"></div>
					<div class="row">
						<label for="number" class="col-md-2 control-label col-md-push-1 ">
							<p class="text-left">
							<h4>联系电话:</h4>
							</p>
						</label>
						<div class="col-md-9 col-md-push-1">
							<p id="number">
							<h4>{{ user.user_pnumber }}</h4>
							</p>
						</div>
					</div>
					<div style="height: 20px; width: 100%;"></div>
					<div class="row">
						<label for="m_number" class="col-md-2 control-label col-md-push-1 ">
							<p class="text-left">
							<h4>邮编:</h4>
							</p>
						</label>
						<div class="col-md-9 col-md-push-1">
							<p id="m_number">
							<h4>{{ user.user_mnumber }}</h4>
							</p>
						</div>
					</div>
				</div>
				<div id="container1">
					<div class="row">
						<p class="lead" id="chinfo">&nbsp;&nbsp;&nbsp;&nbsp;修改您的收货信息</p>
					</div>
					<form role="form" class="form-horizontal" action="/user/site/" method="POST">
					    {% csrf_token %}
						<div class="form-group" style="height: 20px; width: 100%;"></div>
						<div class="form-group">
							<label for="address" class="col-md-2 control-label ">收货地址:</label>
							<div class="col-md-5">
								<input type="text" class="form-control" name="address" value="{{user.user_address}}">
							</div>
						</div>
					      <div class="form-group" style="height: 20px; width: 100%;"></div>
						<div class="form-group">
							<label for="rman" class="col-md-2 control-label ">收货人:</label>
							<div class="col-md-5">
								<input type="text" class="form-control" name="rman" value="{{ user.user_rman }}">
							</div>
						</div>
					     <div class="form-group" style="height: 20px; width: 100%;"></div>
						<div class="form-group">
							<label for="pnumber" class="col-md-2 control-label">联系电话:</label>
							<div class="col-md-5">
								<input type="text" class="form-control" name="pnumber" value="{{ user.user_pnumber }}">
							</div>
						</div>
						<div class="form-group" style="height: 20px; width: 100%;"></div>
						<div class="form-group">
							<label for="pnumber" class="col-md-2 control-label ">邮编:</label>
							<div class="col-md-5">
								<input type="text" class="form-control" name="mnumber" value="{{ user.user_mnumber }}">
							</div>
						</div>

						<div class="form-group" style="height: 25px; width: 100%;"></div>
					
						<div class="col-md-5 col-md-push-2">
							<button type="submit" class="btn btn-primary  btn-block" id="hide">提交</button>
						</div>
					</form>
				</div>
				<div style="height: 250px;"></div>
				<div class="row">
					<div class="col-md-2 col-md-push-8">
						<a href="#"><button type="button" class="btn-primary btn-lg" id="show">修改</button></a>
					</div>
				</div>
		</div>
	</div>
{% endblock main %}