{% extends 'base.html' %}
{% endblock script %}
{% block main %}
	<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">拍卖网站</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="#">主页</a></li>
						<li class="active"><a href="#">个人订单</a></li>
						<li><a href="#">联系客服</a></li>
						<li><a href="#">我的拍品</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								个人信息
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/user/info/">我的资料</a></li>
								<li><a href="/user/order/">我的订单</a></li>
								<li><a href="#">支付设置</a></li>
								<li><a href="/user/site/">收货地址</a></li>
								<li><a href="#">安全设置</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div style="height: 10px;"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 input-group">
					<input type="text" class="form-control" placeholder="搜索订单">
					<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				</div>
			</div>
			<div class="row">
				<table class="table">
					<thead>
						<tr class="danger">
							<th>
								订单日期
							</th>
							<th>
								商品名称
							</th>
							<th>
								支付状态
							</th>
							<th>
								成交价格
							</th>
							<th>
								收货地址
							</th>
							<th>
								交易状态
							</th>
						</tr>
					</thead>
					<tbody>
						{% for each in orders %}
						<tr class="{{each.states}}"  colspan="6">
							订单号：{{order_id}}
						</tr>
						<tr class="{{each.states}}">
							<td>{{order_date}}</td>
							<td>{{order_name}}</td>
							<td>
							{% if each.is_pay==true %}
							<td>已支付</td>
							{% else %}
							<td><a href="/pay/{{each.product_id}}/">点击支付</a></td>
							{% end if %}
							<td>{{total_price}}</td>
							<td>{{address}}</td>
							<td>deal_states</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>	
{% endblock main %}