{% extends 'product/base.html' %}
{% block style %}
<style>
	#div_background {
		background-image: url("https://t7.baidu.com/it/u=3017294596,1975121569&fm=193&f=GIF");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
</style>
{% endblock style %}
{% block script %} {% endblock script %}
{% block main %}
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">拍卖网站</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li><a href="/">主页</a></li>
				<li><a href="#">个人订单</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						我的拍品
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/auction/manage/">拍品管理</a></li>
						<li><a href="#">拍品发货</a></li>
					</ul>
				</li>
				<li><a href="#">我的预约</a></li>
				<li><a href="#">联系客服</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						个人信息
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/user/info/">我的资料</a></li>
						<li><a href="/user/site/">收货地址</a></li>
						<li><a href="/user/history/">浏览记录</a></li>
						<li><a href="/user/logout/">退出登录</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div style="height: 120px; width: 100%;" id="div_background">

		<div style="height: 30px; width: 100%;">

		</div>
		<div class="row">
			<div class="col-md-1 col-md-push-2">
				<img src="https://img0.baidu.com/it/u=3153071016,1285865307&fm=253&fmt=auto&app=138&f=JPEG?w=429&h=499"
					class="img-circle" alt="Cinque Terre" width="70" height="70">
			</div>
			<div class="col-md-6 col-md-push-2">

				<div class="input-group">
					<input type="text" class="form-control">
					<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
				</div>

				<div class="row">
					<div class="col-md-1 col-md-push-1">
						<button type="button" class="btn btn-link" id="colth">
							<a href="/listX_1_1/">
								<font style="color: black;">服装</font>
							</a>
						</button>
					</div>
					<div class="col-md-1 col-md-push-1">
						<button type="button" class="btn btn-link" id="watch">
							<a href="/listX_1_1/">
								<font style="color: black;">手表</font>
							</a>
						</button>
					</div>
					<div class="col-md-1 col-md-push-1">
						<button type="button" class="btn btn-link" id="food">
							<a href="/listX_1_1/">
								<font style="color: black;">食品</font>
							</a>
						</button>
					</div>
					<div class="col-md-1 col-md-push-1">
						<button type="button" class="btn btn-link" id="phone">
							<a href="/listX_1_1/">
								<font style="color: black;">手机</font>
							</a>
						</button>
					</div>
					<div class="col-md-1 col-md-push-1">
						<button type="button" class="btn btn-link" id="computer">
							<a href="/listX_1_1/">
								<font style="color: black;">电脑</font>
							</a>
						</button>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div style="height: 10px;width: 100%;"></div>
	<div class="panel panel-warning">
		<div class="panel-heading">
			<div class="row">
				<span class="col-md-2 col-md-push-1"><a href="/list{{ product_type.id }}_1_1/"
						{% if sort == "1" %} class="active" {% endif %}>
						<h4>默认排序</h4>
					</a></span>
				<span class="col-md-2 col-md-push-2"><a href="/list{{ product_type.id }}_1_2/"
						{% if sort == "2" %} class="active" {% endif %}>
						<h4>按价格排序
					</a></h4></span>
				<span class="col-md-2 col-md-push-4"><a href="/list{{ product_type.id }}_1_3/"
						{% if sort == "3" %} class="active" {% endif %}>
						<h4>按人气排序
					</a></h4></span>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				{% for each in page %}
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-8">
							<a href="/{{ each.id }}/">
								{% if each.product_img %}
								    {% with product_img=each.product_img.first %}
								        {% if product_img %}
								            <img src="{{ product_img.url }}" class="thumbnail" decoding="async">
								        {% endif %}
								    {% endwith %}
								{% endif %}
							</a>
						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-12">
									<h5><a href="/{{ each.product_id }}/">{{ each.product_name }}</a></h5>
								</div>
							</div>
							<div class="row">商品简介：<br>
							<p>each.product_abstract</p></div>
							<div class="row">
								<div class="col-md-12">
									<span><span class="prize">￥{{ each.product_price }}</span></span>
									<br>
									<a href="javascript:;" class="add_goods" id="{{each.product_id}}"
										title="预约拍卖">预约拍卖</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-md-push-4">
				{% if page.has_previous %}
				<a href="/list{{ product_type }}_{{ page.previous_page_number }}_{{ sort }}/"
					class="btn-primary"><span class="	glyphicon glyphicon-arrow-left">上一页</span></a>
				{% endif %}
				{% if page.number==1 %}
				<a href="#" class="active btn-primary">{{ each }}</a>
				{% else %}
				<a href="/list{{ product_type }}_1_{{ sort }}/" class="btn-primary">{{ each }}</a>
				{% endif %}
	
				{% if page.number==2 %}
				<a href="#" class="active btn-primary">{{ each }}</a>
				{% else %}
				<a href="#" class="btn-primary">...</a>
				{% endif %}
	
				{% for each in paginator.page_range %}
				{% if each == page.number and page.number!=1 and page.number!=2%}
				<a href="#" class="active btn-primary">{{ each }}</a>
				{% endif %}
				{% endfor %}
	
				{% if page.number==paginator.num_pages-1 %}
				<a href="/list{{ product_type }}_{{paginator.num_pages}}_{{ sort }}/"
					class="btn-primary">{{ paginator.num_pages }}</a>
				{% else if page.number!=paginator.num_pages%}
				<a href="#" class="btn-primary">...</a>
				<a href="/list{{ product_type}}_{{paginator.num_pages}}_{{ sort }}/"
					class="btn-primary">{{ paginator.num_pages }}</a>
				{% endif %}
				{% if page.has_next %}
				<a href="/list{{ product_type}}_{{ page.next_page_number }}_{{ sort }}/"
					class="btn-primary"><span class="glyphicon glyphicon-arrow-right">下一页</span></a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock main %}
{% block script1 %}
<script type="text/javascript">
	$('.add_goods').click(function(){
		product_id = $(this).attr('id')
		$.get('/cart/add' + product_id +'_1/', function (data){
		});
	})
</script>
{% endblock script1 %}