<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{tittle}}</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default" style="background-color: #ffa75e;" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">拍卖网站</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li><a href="/">主页</a></li>
						<li><a href="#">个人订单</a></li>
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								我的拍品
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/auction/manage/">拍品管理</a></li>
								<li><a href="#">拍品发货</a></li>
							</ul>
						</li>
						<li><a href="#">我的预约</a></li>
						<li><a href="#">联系客服</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								个人信息
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="/user/info/">我的资料</a></li>
								<li><a href="/user/site/">收货地址</a></li>
								<li><a href="/user/history/">浏览记录</a></li>
								<li><a href="/user/logout/">退出登录</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
        <div style="height: 15px;"></div>
        <div class="container">
            <div class="row">
				<table class="table">
					<thead>
						<tr class="danger">
							<th>
								商品名称
							</th>
							<th>
								支付状态
							</th>
							<th>
								成交价格
							</th>
							<th>
								买家姓名
							</th>
							<th>
								买家电话号码
							</th>
							<th>
								买家收货地址
							</th>
                            <th>
                                买家邮编
                            </th>
                            <th>
                                快递单号
                            </th>
						</tr>
					</thead>
					<tbody>
						{% for each in orders %}
						<tr  colspan="6">
							订单号：{{each.auction_id}}
						</tr>
						<tr>
							<td>{{each.product.product_name}}</td>
							<td>
							{% if each.order_stauts==0 %}
							<td>买家未支付</a></td>
							{% else%}
							<td>买家已支付</td>
							{% end if %}
							<td>{{each.userinfo.name}}</td>
                            <td>{{each.userinfo.pnumber}}</td>
							<td>{{each.userinfo.address}}</td>
							<td>{{each.userinfo.mnumber}}</td>
                            <td><button class="btn-primary" id="fill">填写快递单号</button>
                                <div id="deliver_number">
                                    <div>
                                        <input type="text" class="form-control" id="number" name="number"
                                            placeholder="请输入快递单号">
                                    </div>
                                    <button id="submit">提交</button>
                                </div>
                                <p id="info"></p></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
        </div>
	</body>
</html>