<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{tittle}}</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
	</script>
	{% block style %} {% endblock style %}
	{% block script %} {% endblock script %}
	</head>
	<body>
		{% block main %} {% endblock main %}
	</body>
</html>